@font-face {
  font-family: "PT-Root-UI_Regular";
  src: url(assets/font/PT-Root-UI/PT-Root-UI_Regular.ttf);
}
@font-face {
  font-family: "PT-Root-UI_Medium";
  src: url(assets/font/PT-Root-UI/PT-Root-UI_Medium.ttf);
}
@font-face {
  font-family: "PT-Root-UI_Bold";
  src: url(assets/font/PT-Root-UI/PT-Root-UI_Bold.ttf);
}

:root {
  /* COLORS */
  --dark-gray: #383838;
  --light-gray: #e6edf8;
  --light-gray-2: #f2f5f5;
  --very-light-gray: #f2f6fc;
  --blue: #0046bb;
  --purple: #4655ff;

  /* FONT FAMILY */
  --ff-ptrt-regular: "PT-Root-UI_Regular";
  --ff-ptrt-medium: "PT-Root-UI_Medium";
  --ff-ptrt-bold: "PT-Root-UI_Bold";
}

::placeholder,
:-ms-input-placeholder,
::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #9e9ea7 !important;
}

/* ВЫДЕЛЕНИЕ ТЕКСТА */
::selection {
  background: var(--purple);
  /* Safari */
  color: #fff;
}

::-moz-selection {
  background: var(--purple);
  /* Firefox */
  color: #fff;
}

/* SCROLL BAR */
::-webkit-scrollbar {
  width: 10px;
  background-color: #f9f9fd;
}

::-webkit-scrollbar-track {
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background: var(--blue);
  border-radius: 20px;
}

* {
  margin: 0;
  padding: 0;

  font-family: "PT-Root-UI_Regular";
  font-size: 16px;
}

a {
  text-decoration: none;
}

h1 {
  font-family: var(--ff-ptrt-bold);
  font-size: 64px;
  line-height: 72px;
}

h2 {
  font-family: var(--ff-ptrt-bold);
  font-size: 40px;
  line-height: 48px;
}

h4 {
  font-family: var(--ff-ptrt-bold);
  font-size: 24px;
  line-height: 32px;
  color: var(--dark-gray);
}

p,
li {
  font-family: var(--ff-ptrt-medium);
  font-size: 16px;
  line-height: 24px;
}

input {
  outline: none;
  border: none;
}

.wrapper {
  display: flex;
  margin: 0 auto;
  margin-bottom: 80px;

  width: 100%;
  max-width: 1170px;
}

.button-blue {
  display: flex;
  margin: auto;
  padding: 15px 35px;
  white-space: nowrap;

  background-color: var(--blue);
  border: 1px solid var(--blue);
  border-radius: 30px;
  color: #fff;
  cursor: pointer;

  transition: all 0.3s linear;
}

.button-blue:hover {
  background-color: #fff;
  border-color: var(--blue);
  color: var(--blue);
}
