/* ---- HEADER ---- */
header {
  width: 100%;
  position: fixed;
  z-index: 999;
  padding: 22px 0;
  margin-bottom: 0 !important;

  background-color: white;
}

header .wrapper {
  margin-bottom: 0;
}

.header_content {
  display: flex;
  gap: 40px;
}

.header_logo {
  width: 218px;
  height: 114px;
}

/* header --> center */
.header_center {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: auto 0;
}

.header_top {
  display: flex;
  justify-content: space-between;
}

.header-top_left {
  display: flex;
  gap: 60px;
}

.header-top_social {
  display: flex;
  align-items: center;
}

.header-top_social span {
  margin-left: 15px;

  font-weight: 700;
  color: var(--dark-gray);

  transition: color 0.3s linear;
}

.header-top_social span:hover {
  color: var(--blue);
}

.header-top_right {
  display: flex;
  gap: 40px;
}

.header-top_right a {
  position: relative;
}

.header-top_right a:hover .header-top_right-back {
  opacity: 1;
}

.header-top_right img {
  width: 18px;
  height: 18px;

  transition: all 0.3s linear;
}

.header-top_right .header-top_right-back {
  position: absolute;
  left: 0;

  opacity: 0;
}

.header-center_line {
  width: 100%;
  height: 1px;

  background-color: var(--light-gray);
}

.header_bottom {
  display: flex;
  gap: 40px;
}

.header_bottom a {
  position: relative;

  font-family: var(--ff-ptrt-medium);
  color: var(--dark-gray);
}

.header_bottom a:after {
  content: "";
  display: block;
  width: 0;
  height: 2px;

  position: absolute;
  top: 100%;
  left: 50%;
  z-index: 1;

  background-color: var(--blue);
  opacity: 0;

  transform: translateX(-50%);

  transition: all 0.3s linear;
}

.header_bottom a:hover {
  color: var(--blue);
}

.header_bottom a:hover:after {
  width: 100%;
  opacity: 1;
}
/* ---- HEADER END ---- */

/* ---- INTRO ---- */

.intro {
  height: 600px;
  padding-top: 162px;

  background-image: url(assets/images/intro/bg.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center 162px;
}

.intro .wrapper {
  height: 100%;
}

.intro_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 582px;

  color: white;
}

.intro_content p {
  margin-top: 20px;
  width: 370px;

  font-family: var(--ff-ptrt-regular);
  font-size: 20px;
  line-height: 28px;
}

.intro_content a {
  margin-top: 40px;
  margin-right: auto;
  padding: 15px 35px;

  font-family: var(--ff-ptrt-medium);
  font-size: 16px;
  line-height: 24px;
  color: var(--blue);

  border-radius: 50px;
  background-color: white;

  transition: all 0.3s linear;
}

.intro_content a:hover {
  color: white;

  background-color: var(--blue);
}
/* ---- INTRO END ---- */

/* ---- CATEGORIES ---- */
.categories {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 40px;
}

/* categories --> header */
.categories_header {
  width: 100%;
  margin-top: 80px;

  display: flex;
  justify-content: space-between;
  align-items: end;
}

.categories_header h2 {
  color: var(--dark-gray);
}

/* categories -> header -> arrows */
.categories_arrows {
  display: flex;
  gap: 30px;
}

.categories_arrows-item {
  position: relative;
  cursor: pointer;
}

.categories_arrows img {
  display: -webkit-box;

  width: 24px !important;
  height: 24px !important;
}

.categories_arrows .categories-arrow_prev {
  rotate: 180deg;
}

.arrow-front {
  position: absolute;
  top: 0;
  z-index: -1;

  opacity: 0;

  transition: all 0.3s linear;
}

.categories_arrows-item:hover .arrow-front {
  z-index: 1;
  opacity: 1;
}

.swiper-button-next,
.swiper-button-prev {
  margin-top: 0 !important;
  top: 0 !important;
  left: 0 !important;
}

/* categories --> content */
.categories_content {
  max-width: 1170px;
  display: flex;
  overflow-x: hidden;
}

.swiper-slide {
  width: 320px !important;
}

.categories-content_card {
  position: relative;
  display: flex !important;
  flex-direction: column;
  padding: 25px;

  width: 100%;
  max-width: 370px;
  height: 320px !important;

  border-radius: 15px;
  background-color: var(--light-gray-2);

  transition: all 0.3s linear;
}

.categories-content_card:hover {
  background-color: var(--blue);
}

/* categories --> content --> card --> top */
.categories-content_images {
  position: relative;
  display: flex;
}

.card-images_ellipses {
  position: relative;
}

.card-images-ellipse_front {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.categories-content_card:hover img {
  z-index: 1;
}

.card_front-image {
  position: absolute;
  top: -25px;
  left: -25px;

  width: 370px;
  height: 274px;

  border-radius: 15px;
}

/* categories --> content --> card --> bottom */
.categories-content_bottom {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-top: auto;
}

.categories-content_bottom h3 {
  width: 200px;

  font-family: var(--ff-ptrt-bold);
  font-size: 24px;
  line-height: 32px;
  color: var(--dark-gray);

  transition: all 0.3s linear;
}

.categories-content_card:hover .categories-content_bottom h3 {
  color: #fff;
}

/* categories -> arrows */
.card-bottom_arrow {
  position: relative;
  display: flex;
  padding: 13px;

  border-radius: 50px;
  background-color: var(--blue);

  transition: all 0.3s linear;
}

.card-bottom_arrow img {
  width: 24px;
  height: 24px;
}

.card-bottom_arrow-front {
  position: absolute;
  top: auto;
  bottom: auto;
  left: auto;
  right: auto;
  z-index: -1;

  transition: all 0.3s linear;
}

.categories-content_card:hover .card-bottom_arrow {
  background-color: #fff;
}

.categories-content_card:hover .card-bottom_arrow-front {
  z-index: 1;
}
/* ---- CATEGORIES END ---- */

/* ---- FORM ---- */
.form {
  position: relative;
}

.form_back_image {
  width: 100%;
}

/* form --> content */
.form_content {
  position: absolute;
  padding: 55px 80px;
  max-width: 495px;
}

/* form --> content --> text */
.form_content-text h2 {
  color: white;
}

.form_content-text p {
  margin-top: 10px;
  color: white;
}

/* form --> content --> fields */
.form_content-fields {
  display: flex;
  gap: 30px;
  margin-top: 40px;
}

.form_content-fields input {
  display: flex;
  padding: 15px 35px;
  width: 100%;

  color: var(--blue);
  border: 2px solid #fff;
  border-radius: 30px;

  transition: border 0.3s linear;
}

.form_content-fields input:focus {
  border: 2px solid var(--blue);
}

.form_content-fields input::placeholder {
  color: var(--blue);
}

/* form --> content --> bottom */
.form_content-bottom {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.form_content-bottom-hint {
  color: white;
}

.form_content-bottom-hint p {
  font-size: 14px;
}

.form_content-bottom-hint a {
  font-size: 14px;
  line-height: 20px;
  color: white;
  text-decoration: underline;

  transition: color 0.3s linear;
}

.form_content-bottom-hint a:hover {
  color: var(--blue);
}
/* ---- FORM END ---- */

/* ---- GOAL ---- */
.goal {
  flex-direction: column;
  position: relative;
}

.goal h2 {
  max-width: 1042px;

  color: var(--dark-gray);
}

/* goal -> content */
.goal_content {
  display: flex;
  gap: 55px;
  margin-top: 40px;
}

/* goal -> content -> left */
.goal_content-left {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-left: 30px;
}

.goal_content-left-card {
  position: relative;
  width: 285px;
  height: 128px;

  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 25px 30px 25px 65px;

  border-radius: 15px;
  background-color: var(--very-light-gray);

  cursor: pointer;
}

.goal_content-left-card-block {
  position: absolute;
  top: 51px;
  left: -40px;

  display: flex;
  width: 60px;
  height: 60px;

  border: 10px solid #fff;
  border-radius: 100px;
  background-color: var(--blue);

  transition: all 0.2s linear;
}

.goal_content-left-card:hover .goal_content-left-card-block {
  width: 70px;
  height: 70px;

  border: 5px solid #fff;
}

.goal_content-left-card-block img {
  display: -webkit-box;
  margin: auto;

  width: 26px;
  height: 26px;
}

/* goal -> content -> right */
.goal_content-right {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.goal_content-right * {
  font-family: var(--ff-ptrt-regular);
}

.goal_content-right ul {
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding: 0;

  list-style-type: none;
}

.goal_content-right li {
  display: flex;
  align-items: center;
}

.goal_content-right ul li:before {
  padding: 0px 8px 8px 0px;

  content: "\2022";
  font-size: 35px;
  color: var(--blue);
  background-image: url("assets/images/goal/ellipse-blue.png") no-repeat;
}

/* goal -> back */
.goal_back {
  position: absolute;
  top: -115px;
  right: 120px;
  z-index: -1;

  rotate: 3deg;
}
/* ---- GOAL END ---- */
